body{
    background: url(../assets/bg.jpg);
} 

.hello{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: auto;
    background: blueviolet;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.6);
}
.controls{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.controls button{
    padding: 20px;
    background: cadetblue;
    margin: 5px;
}
.bg{
    background: darkkhaki;
    color: floralwhite;
}
.bd{
    border: 5px solid black;
}